* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  margin: 0;
  height: 100%;
  font-family: "Abel", sans-serif;
  background-color: #110032;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  height: 600px;
}

.parametersCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
}

.passGenerated {
  text-align: center;
  background-color: #241442;
  height: 50px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 2px rgba(0, 0, 0, 0.25);
  padding: 7px;
}

.password {
  color: white;
  font-size: 12px;
  letter-spacing: 2px;
}

.lengthSelected {
  color: white;
  font-size: 15px;
  letter-spacing: 2px;
  margin: 0;
}

.slideBar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #241442;
  height: 50px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 2px rgba(0, 0, 0, 0.25);
}

.minAndMax {
  color: white;
  font-size: 15px;
}

.rangeBar {
  width: 200px;
  height: 2px;
  accent-color: #ca3df5;
}

.checkBoxes {
  display: flex;
  justify-content: space-between;
  padding-inline: 18px;
  align-items: center;
  color: white;
  font-size: 12px;
  letter-spacing: 2px;
  background-color: #241442;
  height: 50px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 2px rgba(0, 0, 0, 0.25);
}

.generateButton {
  font-size: 12px;
  letter-spacing: 4px;
  height: 50px;
  width: 300px;
  border-radius: 10px;
  color: white;
  background-image: linear-gradient(to right, #ca3df5, #450558);
  border: none;
}

.generateButton:disabled {
  background-image: linear-gradient(to right, #494949, #000);
  cursor: not-allowed;
}

@media (hover: hover) {
  .generateButton:hover {
    scale: 0.98;
    background-color: #8502ad;
  }
  .generateButton:not(:disabled):hover {
    scale: 0.98;
  }
}

/* Los label solo se puede poner despues del input*/

.labelClass {
  position: relative;
  display: flex;
  align-items: center;
  width: 75px;
  height: 40px;
  border-radius: 32px;
  background-color: gray;
}

.labelClass:after {
  content: "";
  position: absolute;
  left: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  transition: translate 0.25s;
}

.checkbox {
  display: none;
}

.checkbox:checked + .labelClass::after {
  translate: 30px;
}

.checkbox:checked + .labelClass {
  background-image: linear-gradient(to right, #ca3df5, #450558);
}
